version: '3'

services:
  webserver:
    depends_on:
      - wordpress
    image: nginx:{{ nginx_version }}
    container_name: webserver
    restart: unless-stopped
    ports:
{% for port in ports %}
      - "{{ port }}:{{ port }}"
{% endfor %}
    volumes:
      - wordpress:/var/www/html
      - {{ home }}nginx:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
    networks:
      - {{ website_network }}
