version: '3'

services:
  certbot:
    depends_on:
      - webserver
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - wordpress:/var/www/html
    ommand: certonly --webroot --webroot-path=/var/www/html --email {{ admin }}@{{ domain_name }} --agree-tos --no-eff-email --staging -d {{ domain_name }} -d www.{{ domain_name }}
